<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container"> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a style="font-size: 30px" class="navbar-brand" href="#"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>{{title}}</a>
    <ul class="navC navbar-nav mr-auto mt-2 mt-lg-0"> -->
      <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Visualize</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contact</a>
        </li> -->

      <!-- <li class="nav-item" class="selected">
        <a class="nav-link active" routerLink="/visualize" [ngClass]="{'selected': id === 1 }" (click)="selectMenu(id=1)">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>visualize</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/visualize" [ngClass]="{'selected': id === 2 }" (click)="selectMenu(id=2)">Visualize</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/contact" [ngClass]="{'selected': id === 5 }" (click)="selectMenu(id=5)">Contact</a>
      </li> -->
    <!-- </ul>
  </div>
</nav> -->
<!-- <div class="header">
    <div class="row">
      

      <div class="banner-c">
          <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="nav">
        <ul>
          <li routerLink="/home" [ngClass]="{'selected': id === 1 }" (click)="selectMenu(id=1)" class="sselected" >Home</li>
          <li routerLink="/visualize" [ngClass]="{'selected': id === 2 }" (click)="selectMenu(id=2)">Visualize</li>
          <li routerLink="/reduction" [ngClass]="{'selected': id === 3 }" (click)="selectMenu(id=3)">Dimensionality reduction</li>
          <li routerLink="/animation" [ngClass]="{'selected': id === 4 }" (click)="selectMenu(id=4)">Animation</li>
          <li routerLink="/contact" [ngClass]="{'selected': id === 5 }" (click)="selectMenu(id=5)">Contact</li>
        </ul>
      </div>
    </div>
  </div> -->
<div class="" style="">
  <!-- <app-home></app-home> -->
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  <router-outlet></router-outlet>
</div>

<!-- </div> -->
<!-- <script>
  debugger
</script> -->